<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bark.mapper.UserMapper">
	<select id="getUserList" resultType="com.bark.domain.User">
		select * from user
		where type != 3
	</select>
	<select id="getAdminList" resultType="com.bark.domain.User">
		select * from user
		where type = 3
	</select>
	<select id="getUser" resultType="com.bark.domain.User">
		select * from user
		where id = #{id}
	</select>
	<insert id="insert">
		insert into user(id, pwd, name, phone, email, addr, addrDetail, postcode, bank, bankAcc, type)
		values(#{id}, #{pwd}, #{name}, #{phone}, #{email}, #{addr}, #{addrDetail}, #{postcode}, #{bank}, #{bankAcc}, #{type})
	</insert>
	<update id="update">
		update user 
		set pwd = #{pwd}, phone = #{phone}, email = #{email}, addr = #{addr}, addrDetail = #{addrDetail}, postcode = #{postcode}, bank = #{bank}, bankAcc = #{bankAcc}
		where id = #{id}
	</update>
	<delete id="delete">
		delete from user
		where id=#{id}
	</delete>
</mapper>
