@charset "UTF-8";
.container{
	position: absolute;
	top: 100px;
}
.main_info {
    min-width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
	padding-bottom: 60px;
}
.info-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.label-text {
	position: relative;
    width: 80px; /* 고정 너비 설정 */
    height: 40px;
    font-size: 18px;
    float: left;
    left: 0;
    
}
.profile-info{
	position: relative;
	height: 40px;
	width: 60%;
	line-height: 35px;
	right: 0;
}
.form-element{
	height: 40px;
	padding-bottom: 40px;
	width: 100%;
	align-items: center;
}
.form-element input{
	float:right;
}
.main_info .edit-btn-area{
	text-align: center;
	padding: 20px 0;
}
.main_info .edit-btn{
	height: 60px;
	width: 300px;
	font-size: 20px;	
}

    