<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/root.css" />
    <link rel="stylesheet" href="../css/dog-description.css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $(".form-btn").click(function () {
          $(".adoption-form").addClass("expand");
          $("html,body").animate(
            {
              scrollTop: $(".adoption-form").offset().top,
            },
            "slow"
          );
          $("html,body").on("transitionend", function () {
            console.log("transition end");
          });
        });

        $(".fold-btn").click(function () {
          $(".adoption-form").removeClass("expand");
          $("html,body").animate(
            {
              scrollTop: 0,
            },
            "slow"
          );
        });
      });
    </script>
  </head>
  <body>
    <div class="dog-desc-container">
      <a href="dog-list.html"
        ><img
          class="arrow-btn"
          src="../images/icons/arrow-back.png"
          alt="arrow"
      /></a>
      <div class="summary">
        <img
          src="https://www.animal.go.kr/files/shelter/2024/03/202404051304148_s.jpg"
          alt=""
          class="dog1-large"
        />
        <div class="summary-cont">
          <table>
            <tr>
              <td>
                <img
                  class="table-icon"
                  src="../images/icons/name.png"
                  alt="icon"
                />
              </td>
              <th>이름</th>
              <td>영철이</td>
            </tr>
            <tr>
              <td>
                <img
                  class="table-icon"
                  src="../images/icons/gender.png"
                  alt="icon"
                />
              </td>
              <th>성별</th>
              <td>남</td>
            </tr>
            <tr>
              <td>
                <img
                  class="table-icon"
                  src="../images/icons/breed.png"
                  alt="icon"
                />
              </td>
              <th>견종</th>
              <td>믹스</td>
            </tr>
            <tr>
              <td>
                <img
                  class="table-icon"
                  src="../images/icons/age.png"
                  alt="icon"
                />
              </td>
              <th>나이</th>
              <td>4</td>
            </tr>
            <tr>
              <td>
                <img
                  class="table-icon"
                  src="../images/icons/shelter.png"
                  alt="icon"
                />
              </td>
              <th>보호소</th>
              <td>안산보호소</td>
            </tr>
            <tr>
              <td>
                <img
                  class="table-icon"
                  src="../images/icons/neut.png"
                  alt="icon"
                />
              </td>
              <th>중성화</th>
              <td>X</td>
            </tr>
            <tr>
              <td>
                <img
                  class="table-icon"
                  src="../images/icons/adopt.png"
                  alt="icon"
                />
              </td>
              <th>입양</th>
              <td>가능</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- end of summary -->
      <div class="more">
        <p>
          불쌍해는 중앙동 거리에서 피부병과 각종 질병등을 보유한 상태로 발견
          보호소에서 다른 강아질과 잘 어울리며 평소에 차분하고 의젓한 모습을
          보입니다. 터그와 공놀이를 좋아하며 활동량이 많은 강아지로 잦은 산책과
          활동을 필요로 합니다. 불쌍이와 함께 활동적인 생활을 해주실 수 있는
          견주님을 찾습니다.
        </p>
      </div>
      <div class="buttons">
        <button class="form-btn dark-btn font-bright">입양하기</button>
        <!-- <button class="prev-btn secondary-btn font-bright">목록</button> -->
      </div>
    </div>
    <!-- end of dog-desc -->
    <div class="adoption-form">
      <form action="#" method="post">
        <h2>입양 신청서</h2>
        <span>*신청자 정보</span>
        <div class="secondform">
          <table>
            <tbody>
              <tr>
                <td>성명</td>
                <td><input type="text" name="name" required /></td>
                <td>주소</td>
                <td><input type="text" name="addr" required /></td>
              </tr>
              <tr>
                <td>생년월일</td>
                <td><input type="date" name="date" required /></td>
                <td>연락처</td>
                <td>
                  <input
                    type="tel"
                    name="tel"
                    required
                    pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                  />
                </td>
              </tr>
              <tr>
                <td>직업</td>
                <td><input type="text" name="jop" /></td>
                <td>e-mail</td>
                <td><input type="email" name="email" required /></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <h
            >*본인 신청 여부 : 본인<input
              type="radio"
              name="check"
              value="1"
              checked />대리인<input type="radio" name="check" value="2"
          /></h>
        </div>
        <div><h>*동거인 동의</h></div>
        <div class="thirdform">
          <table>
            <tbody>
              <tr>
                <td>성명</td>
                <td><input type="text" name="name" /></td>
                <td>관계</td>
                <td><input type="text" name="relationship" /></td>
                <td>연락처</td>
                <td>
                  <input
                    type="tel"
                    name="tel"
                    required
                    pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                  />
                </td>
                <td>동의</td>
                <td>
                  <select name="consent">
                    <option value="1">X</option>
                    <option value="0">O</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>성명</td>
                <td><input type="text" name="name" /></td>
                <td>관계</td>
                <td><input type="text" name="relationship" /></td>
                <td>연락처</td>
                <td>
                  <input
                    type="tel"
                    name="tel"
                    required
                    pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                  />
                </td>
                <td>동의</td>
                <td>
                  <select name="consent">
                    <option value="1">X</option>
                    <option value="0">O</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>성명</td>
                <td><input type="text" name="name" /></td>
                <td>관계</td>
                <td><input type="text" name="relationship" /></td>
                <td>연락처</td>
                <td>
                  <input
                    type="tel"
                    name="tel"
                    required
                    pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                  />
                </td>
                <td>동의</td>
                <td>
                  <select name="consent">
                    <option value="1">X</option>
                    <option value="0">O</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="adoption-text">
          <p>*Bark의 입양 안내사항을 성실히 이행할 것을 서약하며,</p>
          <p>학대 •파양 등의 정황이 발견 될 시 불이익이 있을 수 있습니다.</p>
          <h3>Bark는 올바른 입양 문화를 지향합니다.</h3>
        </div>
        <div class="adoption-button">
          <input type="submit" value="신청" class="form-submit-btn" />
          <input type="button" value="접기" class="fold-btn" />
        </div>
      </form>
    </div>
  </body>
</html>
