<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/root.css" />
    <link rel="stylesheet" href="../css/dog-description.css" />
  </head>
  <body>
    <div class="dog-desc-container">
      <a href="dog-list.html"
        ><img class="arrow" src="../images/icons/arrow-back.png" alt="arrow"
      /></a>
      <div class="summary">
        <div class="img-wrapper">
          <img
            src="https://www.animal.go.kr/files/shelter/2024/03/202404051304148_s.jpg"
            alt=""
            class="dog1-large"
          />
        </div>
        <div class="summary-cont">
          <table>
            <tr>
              <td><img src="../images/icons/name.png" alt="icon" /></td>
              <th>이름</th>
              <td>영철이</td>
            </tr>
            <tr>
              <td><img src="../images/icons/gender.png" alt="icon" /></td>
              <th>성별</th>
              <td>남</td>
            </tr>
            <tr>
              <td><img src="../images/icons/breed.png" alt="icon" /></td>
              <th>견종</th>
              <td>믹스</td>
            </tr>
            <tr>
              <td><img src="../images/icons/age.png" alt="icon" /></td>
              <th>나이</th>
              <td>4</td>
            </tr>
            <tr>
              <td><img src="../images/icons/shelter.png" alt="icon" /></td>
              <th>보호소</th>
              <td>안산보호소</td>
            </tr>
            <tr>
              <td><img src="../images/icons/neut.png" alt="icon" /></td>
              <th>중성화</th>
              <td>O</td>
            </tr>
            <tr>
              <td><img src="../images/icons/adopt.png" alt="icon" /></td>
              <th>입양</th>
              <td>가능</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- end of summary -->
      <div class="more">
        <p>
          영철이는 중앙동 거리에서 피부병과 각종 질병등을 보유한 상태로 발견
          보호소에서 다른 강아질과 잘 어울리며 평소에 차분하고 의젓한 모습을
          보입니다. 터그와 공놀이를 좋아하며 활동량이 많은 강아지로 잦은 산책과
          활동을 필요로 합니다. 영철이와 함께 활동적인 생활을 해주실 수 있는
          견주님을 찾습니다.
        </p>
        <button class="form-btn dark-btn font-bright">입양하기</button>
        <!-- <button class="prev-btn secondary-btn font-bright">목록</button> -->
      </div>
    </div>
    <!-- end of dog-desc -->
    <div class="adoption-form">
      <form action="#" method="post"></form>
    </div>
  </body>
</html>
