<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>후원하기</title>
    <link rel="stylesheet" href="../css/dogAdd.css" />
    <link rel="stylesheet" href="../css/root.css" />
    <script src="../js/dogAdd.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <header
      style="
        display: block;
        background-color: var(--color-brown);
        height: 140px;
      "
    ></header>

    <div class="dogAdd-container">
      <div class="dogAdd-page slide-animation">
        <form role="form"
        action="${pageContext.request.contextPath}/adoption/write" method="post">
        <img src="${images }/logo-brown.png" />
          <div class="dogAdd-title">유기견 등록</div>
        
        <div class="form-group">
          <label>보호소 이름</label>
          <input class="form-control" name='shelterName'>
        </div>
        
        <div class="form-group">
          <label>강아지 이름</label>
          <input class="form-control" name='name'>
        </div>
        
        <div class="form-group">
          <label>성별</label><input class="form-control" name='gender'>
        </div>
        <div class="form-group">
          <label>견종</label><input class="form-control" name='breed'>
        </div>
        <div class="form-group">
          <label>나이</label><input class="form-control" name='age'>
        </div>
  
        <div class="form-group">
          <label>상세설명</label>
          <textarea class="form-control" rows="5" name='feature'></textarea>
        </div>
        
        <div class="form-group">
            <label class="neuterTitle">중성화 여부</label><br>
            <label for="neutered" class="neuter">완료</label>
            <input type="radio" id="neutered" class="neuter" name="neuter" value="1">
            <label for="notNeutered" class="neuter">X</label>
            <input type="radio" id="notNeutered" class="neuter" name="neuter" value="0">
            
        </div>
        <div class="card" style="width: 100%;">
          <div class="card-header ">File Attach</div>
          <div class="card-body">
            <div class="form-group uploadDiv">
              <input type="file" name='uploadFile' id='uploadFile' multiple>
            </div>
            <div class="uploadResult">
              <ul></ul>
            </div>
            <div class="bigPictureWrapper">
              <div class="bigPicture"></div>
            </div>
          </div>
          <div class="card-footer d-flex">
            <button type="submit" class="btn brown-btn large-btn ml-auto">등록</button>
            <button type="reset" class="btn brown-btn large-btn ml-2">취소</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </body>
</html>
