<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/root.css" />
    <link rel="stylesheet" href="../css/header.css" />
  </head>
  <body>
    <div class="header">
      <img
        class="logo"
        src="../images/bark_logo-rose_white.png"
        alt="logo"
        width="200px"
      />
      <div class="navigation-menu">
        <ul>
          <li>
            <a href="#"><strong class="xlarge-font">소개</strong></a>
          </li>
          <li class="dropdown">
            <a href="#"><strong class="xlarge-font">보호소 및 후원</strong></a>
            <div class="dropdown-content">
              <a href="#"><strong class="large-font">후원 안내</strong></a>
              <a href="#"><strong class="large-font">보호소 조회</strong></a>
              <a href="#"
                ><strong class="large-font">캠페인 둘러보기</strong></a
              >
            </div>
          </li>
          <li class="dropdown">
            <a href="#"><strong class="xlarge-font">입양</strong></a>
            <div class="dropdown-content">
              <a href="#"><strong class="large-font">입양 안내</strong></a>
              <a href="#"><strong class="large-font">입양하기</strong></a>
            </div>
          </li>
          <li class="dropdown">
            <a href="#"><strong class="xlarge-font">게시판</strong></a>
            <div class="dropdown-content">
              <a href="#"><strong class="large-font">공지사항</strong></a>
              <a href="#"><strong class="large-font">정보공유</strong></a>
              <a href="#"><strong class="large-font">문의하기</strong></a>
            </div>
          </li>
          <li>
            <a href="#"><strong class="xlarge-font"> 로그인 </strong></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
