<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/shelterSelector.css" />
    <link rel="stylesheet" href="../css/root.css" />
  </head>
  <body>
    <div class="form-slide">
      <div class="wrapper">
        <div class="popup-label pwd-input">
          <div class="login-popup-input">
            <span>보호소 선택</span>
            <img src="../images/icons/chev-down-icon.png" alt="" />
          </div>
          <div class="content">
            <div class="search">
              <i class="uil uil-search"
                ><img src="../images/icons/search-btn.png" alt=""
              /></i>

              <input
                id="search-input"
                spellcheck="false"
                type="text"
                placeholder="보호소 이름을 검색해주세요..."
              />
            </div>
            <ul class="options"></ul>
          </div>
        </div>
      </div>
      <button type="button" class="next-btn login-popup-btn">다음</button>
      <button type="button" class="prev-btn login-popup-btn">이전</button>
    </div>
    <script src="../js/shelterSelector.js"></script>
  </body>
</html>
