<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/shelter-story.css" />
    <link rel="stylesheet" href="../css/root.css" />
    <script src="../js/shelter-story.js"></script>
  </head>
  <body>
    <header style="display: block; background-color: var(--color-brown); height: 140px">
      헤더
    </header>
    <div class="story-container">
      <div class="story">
        <p class="page-title">Shelter Story</p>
        <div class="story-button">
          <a class="large-btn brown-btn" href="#">글쓰기</a>
        </div>
        <ul>
          <div class="story-list">
            <li>
              <div class="story-card">
                <div class="story-banner">
                  <img class="banner-img" src="../images/many-dogs.jpg" />
                </div>
                <div class="story-title xlarge-font">
                  <p>제목입니다</p>
                </div>
                <div class="story-info">
                  <div class="story-content">
                    <p>내용입니다</p>
                  </div>
                  <div class="story-write">
                    <p>
                      <img
                        class="icon-img"
                        src="../images/icons/shelter-icon.png"
                      />2조보호소
                    </p>
                  </div>
                  <div class="sub-info">
                    <div class="story-date xsmall-font">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/calendar-icon.png"
                        />2024-04-12
                      </p>
                    </div>
                    <div class="story-hit xsmall-font">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/hit-icon.png"
                        />234
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="story-card">
                <div class="story-banner">
                  <img class="banner-img" src="../images/dogs/dog13.jpg" />
                </div>
                <div class="story-title xlarge-font">
                  <p>제목입니다</p>
                </div>
                <div class="story-info">
                  <div class="story-content">
                    <p>내용입니다</p>
                  </div>
                  <div class="story-write">
                    <p>
                      <img
                        class="icon-img"
                        src="../images/icons/shelter-icon.png"
                      />2조보호소
                    </p>
                  </div>
                  <div class="sub-info">
                    <div class="story-date xsmall-font">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/calendar-icon.png"
                        />2024-04-12
                      </p>
                    </div>
                    <div class="story-hit xsmall-font">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/hit-icon.png"
                        />234
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
                <div class="story-card">
                  <div class="story-banner">
                    <img class="banner-img" src="../images/dogs/dog13.jpg" />
                  </div>
                  <div class="story-title xlarge-font">
                    <p>제목입니다</p>
                  </div>
                  <div class="story-info">
                    <div class="story-content">
                      <p>내용입니다</p>
                    </div>
                    <div class="story-write">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/shelter-icon.png"
                        />2조보호소
                      </p>
                    </div>
                    <div class="sub-info">
                      <div class="story-date xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/calendar-icon.png"
                          />2024-04-12
                        </p>
                      </div>
                      <div class="story-hit xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/hit-icon.png"
                          />234
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="story-card">
                  <div class="story-banner">
                    <img class="banner-img" src="../images/dogs/dog13.jpg" />
                  </div>
                  <div class="story-title xlarge-font">
                    <p>제목입니다</p>
                  </div>
                  <div class="story-info">
                    <div class="story-content">
                      <p>내용입니다</p>
                    </div>
                    <div class="story-write">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/shelter-icon.png"
                        />2조보호소
                      </p>
                    </div>
                    <div class="sub-info">
                      <div class="story-date xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/calendar-icon.png"
                          />2024-04-12
                        </p>
                      </div>
                      <div class="story-hit xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/hit-icon.png"
                          />234
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="story-card">
                  <div class="story-banner">
                    <img class="banner-img" src="../images/dogs/dog13.jpg" />
                  </div>
                  <div class="story-title xlarge-font">
                    <p>제목입니다</p>
                  </div>
                  <div class="story-info">
                    <div class="story-content">
                      <p>내용입니다</p>
                    </div>
                    <div class="story-write">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/shelter-icon.png"
                        />2조보호소
                      </p>
                    </div>
                    <div class="sub-info">
                      <div class="story-date xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/calendar-icon.png"
                          />2024-04-12
                        </p>
                      </div>
                      <div class="story-hit xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/hit-icon.png"
                          />234
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="story-card">
                  <div class="story-banner">
                    <img class="banner-img" src="../images/dogs/dog13.jpg" />
                  </div>
                  <div class="story-title xlarge-font">
                    <p>제목입니다</p>
                  </div>
                  <div class="story-info">
                    <div class="story-content">
                      <p>내용입니다</p>
                    </div>
                    <div class="story-write">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/shelter-icon.png"
                        />2조보호소
                      </p>
                    </div>
                    <div class="sub-info">
                      <div class="story-date xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/calendar-icon.png"
                          />2024-04-12
                        </p>
                      </div>
                      <div class="story-hit xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/hit-icon.png"
                          />234
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="story-card">
                  <div class="story-banner">
                    <img class="banner-img" src="../images/dogs/dog13.jpg" />
                  </div>
                  <div class="story-title xlarge-font">
                    <p>제목입니다</p>
                  </div>
                  <div class="story-info">
                    <div class="story-content">
                      <p>내용입니다</p>
                    </div>
                    <div class="story-write">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/shelter-icon.png"
                        />2조보호소
                      </p>
                    </div>
                    <div class="sub-info">
                      <div class="story-date xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/calendar-icon.png"
                          />2024-04-12
                        </p>
                      </div>
                      <div class="story-hit xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/hit-icon.png"
                          />234
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="story-card">
                  <div class="story-banner">
                    <img class="banner-img" src="../images/dogs/dog13.jpg" />
                  </div>
                  <div class="story-title xlarge-font">
                    <p>제목입니다</p>
                  </div>
                  <div class="story-info">
                    <div class="story-content">
                      <p>내용입니다</p>
                    </div>
                    <div class="story-write">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/shelter-icon.png"
                        />2조보호소
                      </p>
                    </div>
                    <div class="sub-info">
                      <div class="story-date xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/calendar-icon.png"
                          />2024-04-12
                        </p>
                      </div>
                      <div class="story-hit xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/hit-icon.png"
                          />234
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="story-card">
                  <div class="story-banner">
                    <img class="banner-img" src="../images/dogs/dog13.jpg" />
                  </div>
                  <div class="story-title xlarge-font">
                    <p>제목입니다</p>
                  </div>
                  <div class="story-info">
                    <div class="story-content">
                      <p>내용입니다</p>
                    </div>
                    <div class="story-write">
                      <p>
                        <img
                          class="icon-img"
                          src="../images/icons/shelter-icon.png"
                        />2조보호소
                      </p>
                    </div>
                    <div class="sub-info">
                      <div class="story-date xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/calendar-icon.png"
                          />2024-04-12
                        </p>
                      </div>
                      <div class="story-hit xsmall-font">
                        <p>
                          <img
                            class="icon-img"
                            src="../images/icons/hit-icon.png"
                          />234
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              
          </div>
        </ul>
      </div>
      <div class="story-page">
        <div class="pagination">
          <span class="pagination__number-indicator"></span>
          <button class="pagination__arrow">
            <span class="pagination__arrow-half"></span>
            <span class="pagination__arrow-half"></span>
          </button>
          <button class="pagination__number">1</button>
          <button class="pagination__number">2</button>
          <button class="pagination__number">3</button>
          <button class="pagination__number pagination__number--active">4</button>
          <button class="pagination__number">5</button>
          <button class="pagination__number">6</button>
          <button class="pagination__number">7</button>
          <button class="pagination__arrow pagination__arrow--right">
            <span class="pagination__arrow-half"></span>
            <span class="pagination__arrow-half"></span>
          </button>
        </div>
        <!-- <div class="page-number">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
        </div>
        <div class="page-btn">
          <div class="prev-btn">
            <a href="#">이전</a>
          </div>
          <div class="next-btn">
            <a href="#">다음</a>
          </div>
        </div> -->
      </div>
    </div>
  </body>
</html>
