<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/update-user.css" />
    <script src="../js/update-user.js"></script>
</head>
<body>
    <a href="javascript:openPop()">
      <div class="font-dark">팝업오픈!</div>
    </a>
    <div class="popup_layer" id="popup_layer">
      <div class="popup_box">
        <div class="popup_btn">
          <a href="javascript:closePop();"
            ><img src="../images/icons/x-regular-36.png" alt="x"
          /></a>
        </div>
        <!--팝업 컨텐츠 영역-->
        <div class="popup_content">
          <strong class="font-dark large-font">로그인</strong>
          <hr />
          <p class="font-dark">
            !!!!!!!!!!!!!!!!!!!!<br />
            ~~~~~~~~~~~~~~~~~ @@@@@@@@@@@@@@@@@@@ %%%%%%%%%%%%%%%%
            ^^^^^^^^^^^^^^^^ &&&&&&&&&&&&&& *************
          </p>
        </div>
        <!--팝업 버튼 영역-->
        <!-- <div class="popup_btn">
          <a class="font-dark" href="javascript:closePop();">닫기</a>
        </div> -->
      </div>
    </div>
  </body>
</html>