@charset "UTF-8";

@import url(./root.css);

.container {
	display: flex;
	justify-content: center;
	color: var(--color-deep-brown);
}

.title {
	color: 52442a;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 40px
}

/* 테이블 */
.writetable {
	border: 1px solid var(--color-inactive);
	border-collapse: collapse;
}

.writetable tr {
	display: flex;
	justify-content: center;
	align-items: center;
}

.writetable thead {
	background-color: var(--color-inactive);
	height: 40px;
	border-bottom: 1px solid var(--color-deep-brown);
}

.writetable select, .writetable input {
	margin: 5px 0;
	width: 100%;
	height: 30px;
	font-size: 16px;
	color: #52442a;
	border: 0;
	background-color: var(--color-inactive);
}

/*내용*/
.writetable td {
	width: 100%;
	display: flex;
	justify-content: center;
}

.writetable textarea {
	width: 100%;
	height: 500px;
	border: 0;
	font-size: 16px;
	resize: none;
	padding: 20px
}

.imageUpload {
	width: 100%;
	background-color: var(--color-inactive);
}

.imageUpload input {
	padding: 5px;
	font-size: 16px;
	color: var(--color-deep-brown);
	border: 0;
}

/* 취소 작성 버튼 */
.write-button {
	display: flex;
	justify-content: end;
}

.write-button input {
	width: 80px;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	margin: 30px 10px;
	border-radius: 5px;
	border: 0px;
	color: var(--color-deep-brown);
	background-color: var(--color-rose-white)
}

.write-button input:hover {
	background-color: var(--color-inactive);
}