@charset "UTF-8";
/*초기화 */
.table{min-height: 600px;}

/* 제목 */
.row>h{color: #52442a; font-weight: bold; font-size: 30px;}
.notice_up{display: flex; justify-content: space-between; align-content: center; padding: 5px 0; margin-top:50px;}


/* 테이블 */

.writeManage{ border-spacing: 0;}
.writeManage>thead>tr>th{
	background-color:  rgb(195, 184, 175); color: #52442a; text-align: center; padding: 7px;
    border-bottom: 1px solid #52442a; font-weight: bold;
}
.writeManage>thead>tr>th:nth-child(2){
    width: 600px;
}
.writeManage>thead>tr>th:nth-child(3){
    width: 120px;
}
.writeManage>thead>tr>th:nth-child(4){
    width: 120px;
}
.writeManage>thead>tr>th:nth-child(5){
    width: 100px;
}
.writeManage>thead>tr>th:nth-child(6){
    width: 50px;
}
.writeManage>tbody>tr>td{
	background: #fcf1e7; color: #52442a; text-align: center; border-bottom: 1px solid rgb(195, 184, 175);
    padding: 5px;
}

/* 상태창 */
.status1{
	width: 100px; height: 20px; text-align: center; font-weight: bold;
	background: rgb(248, 196, 39); color: white; text-align: center; border-radius: 15px;
    padding: 2px 5px 5px 5px;
}
.status2{
	width: 100px; height: 20px; text-align: center; font-weight: bold;
	background: rgb(25, 183, 130); color: white; text-align: center; border-radius: 15px;
    padding: 2px 5px 5px 5px;
}

/* 취소하기 버튼 */
.minus-button{
	text-align: center; font-weight: bolder;
	width: 20px; height: 20px;
	padding: 0px 8px 5px 2px;
}

/* 페이지 */
.pageNumber{display: flex; justify-content: center;}
.pageNumber>a{padding: 10px;}



/* #fcf1e7 #52442a */