.dog-desc-container {
  position: relative;
  width: 55%;
  line-height: 28px;
  margin: 0 auto;
  margin-top: 200px;
}
.arrow {
  width: 40px;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
}
.arrow:hover {
  animation: bounce-side-ways 0.3s ease-in-out forwards;
}
@keyframes bounce-side-ways {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(-125%);
  }
}
.summary {
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}
.summary .img-wrapper {
  min-width: 300px;
  max-width: 350px;
  height: 400px;
}
.summary .img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -2px #000;
}
.summary-cont {
  display: inline-block;
}
.summary-cont table {
  margin: 0 auto;
  font-size: 16px;
}
.summary-cont table img {
  width: 24px;
  float: right;
  padding-top: 2px;
}
.summary-cont td,
.summary-cont th {
  height: fit-content;
  text-align: left;
  line-height: 45px;
  width: 100px;
}
.summary-cont th {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
}
.more {
  width: 80%;
  margin: 80px auto;
  padding: 0 40px;
  line-height: 35px;
}
.buttons {
  padding: 0 40px;
}
.form-btn {
  margin-top: 30px;
  height: 50px;
  width: 100px;
  float: right;
}
