.footer {
  width: 100%;
  height: 140px;
  min-width: 1920px;
}
.footer-inner {
  width: 90%;
  margin: 40px auto;
}
.copy-right {
  padding: 20px;
  width: fit-content;
  text-align: center;
}
