body {
  background-color: #daebff;
}
span,
a,
strong,
h1 {
  color: var(--color-strong) !important;
}
/* login */
.container {
  width: 100vw;
  min-height: calc(100dvh - 440px);
  display: flex;
  padding-top: 140px;
  align-items: center;
}
.login-form {
  position: relative;
  background-color: #fefefe;
  color: var(--color-bean-brown);
  opacity: 1;
  width: 30%;
  height: 600px;
  margin: 0 auto;
  border: 1px solid var(--color-deep-brown);
  box-shadow: 0px 0px 10px -2px var(--color-deep-brown);
}
.login-form form {
  position: relative;
  transform: translateY(-10px);
  height: 100%;
  width: 340px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.login-form .btn {
  position: relative;
  width: 95%;
  height: 44px;
  margin: 8px 0;
  font-size: large;
  color: var(--color-bean-brown);
  background-color: #8bb5e6;
  box-shadow: none;
  text-align: center;
}
.login-form .join-btn {
  background-color: #daebff;
}
.login-form .join-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-element {
  position: relative;
  width: 95%;
  height: 80px;
}
.form-element input {
  width: 93%;
  height: 40px;
  line-height: 35px;
  font-size: large;
  padding: 0 10px;
}
.find-id-pwd {
  position: relative;
  height: 30px;
  width: 95%;
}
.find-id-pwd span:hover {
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.find-id-pwd ul {
  position: absolute;
  right: 0;
}
.find-id-pwd li {
  display: inline;
}
.find-id-pwd .divider {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 3px 6px 0px;
  background-color: var(--color-bean-brown);
}
.find-id-pwd span {
  font-size: small;
  color: var(--color-bean-brown);
}
