.board-read {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    background: var(--color-white-smoke);
  }
  
  /* 카테고리 */
  /*게시판*/
  .category-container {
    padding: 20px 0;
  }
  .read-category {
    text-align: center;
    height: 370px;
    padding: 20px;
    background: var(--color-bright);
    border-radius: 5px;
  }
  
  .category-title p {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  /*메뉴*/
  .category-menu div {
    margin: 15px 0;
    border-radius: 5px;
    position: relative;
  }
  .category-menu img {
    position: absolute;
    width: 40px;
    left: 110px;
    top: -20px;
  }
  .category-menu p {
    padding: 10px 70px;
    font-size: 20px;
  }
  
  .category-menu div:nth-child(1) {
    background-color: var(--color-white-smoke);
  }
  
  /* 글읽기*/
  .read-container {
    padding: 20px 0;
    width: 50%;
  }
  .read-board {
    min-height: 600px;
    padding: 30px 50px;
    background: var(--color-bright);
    border-radius: 5px;
  }

  .read-top{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .read-left{
    display: flex;
    align-items: center;
    font-size: 30px;
    width: 70%;
  }

  .read-info{
    display: flex;
    font-size: 14px;
  }
  .read-info p:nth-child(1){
    text-align: center;
    margin: 2px;
    width: 50px;
    background: var(--color-white-smoke);
  }
  .read-info p:nth-child(2){
    width: 70%;
    border-bottom:1px solid var(--color-white-smoke) ;
    margin-left: 5px;
  }
  .read-content{
    padding: 20px;
  }

  /* 버튼 */
  .read-button{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: var(--color-bright);
  }


  /* 댓글 */
  .reply-board{
    padding: 30px 100px;
    background: var(--color-bright);
    border-radius: 5px;
  }
  .reply-write{
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }
  .reply-button{
    width: 9%;
    padding: 10px
  }

  .reply-list input{
    padding:5px 10px;
    margin-top: 10px;
    border:0;
  }