@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
:root {
  --color-brown: #453f32;
  --color-light-brown: #82765e;
  --color-olive: #2a392c;
  --color-green: #83c680;
  --color-sky-blue: #a6d2fd;
  --color-blue: #94c2f9;
  --color-bright: #ffffff;
  --color-dark: #000000;
  --color-grey: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  min-width: 1920px;
  min-height: 1080px;
  position: relative;
  background-color: #fff;
  z-index: -9999;
}
body {
  position: relative;
  overflow-x: hidden;
  z-index: -1;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.bright-btn {
  cursor: pointer;
  width: 150px;
  height: 70px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-bright);
}

.font-bright {
  color: var(--color-bright);
}
.font-dark {
  color: var(--color-dark) !important;
}

.header-font {
  font-size: 32px;
  padding: 8px;
}
.xxlarge-font {
  font-size: 60px;
}
.xlarge-font {
  font-size: 24px;
}
.large-font {
  font-size: 20px;
}
.medium-font {
  font-size: 16px;
}
.small-font {
  font-size: 14px;
}

.hover-underline {
  display: inline-block;
}
.hover-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-bright);
}
.hover-underline:hover::after {
  width: 100%;
  transition: 0.5s;
}
