.login-popup-input,
.login-popup-btn {
  border: none;
  outline: none;
  background: none;
}

.login-popup-input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}
.login-popup-btn {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.form-slide {
  position: relative;
  min-width: 580px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popup-label {
  position: relative;
  display: block;
  width: 260px;
  margin: 16px auto 0;
  text-align: center;
}
.popup-label span {
  display: block;
  font-size: 12px;
  color: #cfcfcffa;
}
.submit-btn,
.general-btn,
.next-btn,
.find-account-btn {
  margin-top: 40px;
  margin-bottom: 20px;
  background: var(--color-brown);
}
.sub-cont-slides .next-btn,
.sub-cont-slides .submit-btn {
  margin-top: 10px;
}

.fb-btn,
.to-login-btn,
.shelter-btn,
.prev-btn,
.login-prev-btn {
  border: 2px solid #ccc5b8;
  color: var(--color-brown);
}
/* .login-popup-input {
  height: 65px;
  padding: 0 20px;
  font-size: 22px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
} */

/* ----------------------- */
body {
  background: #fff;
}
::selection {
  color: #fff;
  background: #4285f4;
}
.login-popup-input,
li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login-popup-input img {
  transition: transform 0.3s linear;
}
.wrapper.active .login-popup-input img {
  transform: rotate(-180deg);
}
.wrapper {
  width: 260px;
  margin: 85px auto 0;
  transform: translateY(-30px);
}
.content {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  height: 270px;
  padding: 16px;
  margin-top: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  animation: fold 0.5s ease-in forwards;
}
.wrapper.active .content {
  pointer-events: initial;

  animation: expand 0.3s ease-out forwards;
}

@keyframes expand {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fold {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(10%);
    opacity: 0;
  }
}
.content .search {
  position: relative;
}
.search img {
  width: 15px;
  top: 50%;
  left: 10px;
  color: #999;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
/* .search {
  width: 100%;
} */
.search input {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 20px 0 30px;
  border: 1px solid #b3b3b3;
}
.search input:focus {
  padding-left: 30px;
  border: 1px solid var(--color-light-brown);
}
.search input::placeholder {
  color: #bfbfbf;
}
.content .options {
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar {
  width: 7px;
}
.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb {
  background: var(--color-light-brown);
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover {
  background: var(--color-brown);
}
.options li {
  height: 50px;
  padding: 0 13px;
  font-size: 14px;
}
.options li:hover,
.options li.selected {
  border-radius: 5px;
  background: #f2f2f2;
}
