.map {
  position: relative;
  padding-left: 400px;
}

/* 검색 */
.shelter-side {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* 검색 탭 */
/* side창 꽉차게 만들기 */
.shelter-tap {
  padding: 30px;
  background: var(--color-feldgrau);
  color: var(--color-bright);
}
.tap {
  display: flex;
  justify-content: center;
}
.tap li > a {
  position: relative;
  width: 50%;
  padding: 0 30px;
  text-align: center;
}

.tap li:active {
  transform: translateY(15%);
  transition: 0.1s;
}
.area-search {
  display: none;
}

/* 검색 창 */
.shelter-search {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background: var(--color-honeydew);
}
.shelter-search input {
  height: 40px;
  border: 0;
  background-color: transparent;
  padding: 0 10px;
}
.shelter-search select {
  height: 40px;
  border: 0;
  background-color: transparent;
}

/* 검색 리스트 */
.list-container {
  overflow-y: scroll;
  background: var(--color-honeydew);
  height: 795px;
  border-top: 2px solid var(--color-cambridgeolive);
}
.shelter-list li {
  padding: 20px;
  background: var(--color-honeydew);
}
.shelter-list li:hover {
  background-color: var(--color-feldgrau);
  color: var(--color-bright);
}

/* 검색디테일 */
.shelter-detail {
  position: relative;
  overflow: hidden;
  transition: all 1s;
  height: 0px;
}
.shelter-detail.liExpand {
  height: 80px;
  border-top: 1px solid var(--color-cambridgeolive);
}
.detail-box{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  padding: 10px 0;
  
}
.shelter-detail a {
  position: relative;
  top: 0;
  padding: 18px;
  margin:0 2px;
  border-radius: 5px;
  background-color: var(--color-feldgrau);
  color: var(--color-bright);
}

.shelter-detail a:hover{
  background-color: var(--color-cambridgeolive);
}

/* 검색 스크롤 */
.list-container::-webkit-scrollbar {
  width: 10px;
}
.list-container::-webkit-scrollbar-thumb {
  background-color: var(--color-cambridgeolive);
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid transparent;
}
.list-container::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 지도 */
.api {
  position: relative;
  overflow: hidden;
  height: 940px;
}
