/*popup*/
/* 뒷 배경 */
.popup_layer {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  /*팝업 박스*/
  .popup_box {
    position: relative;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  }
  /*컨텐츠 영역*/
  .popup_box .popup_content {
    overflow-y: scroll;
    height: 100%;
    padding: 20px;
    line-height: 1.4rem;
    font-size: 14px;
  }
  /* x 버튼 */
  .popup_btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: -30px;
    right: 0;
    z-index: 9999;
  }
  .popup_btn a img {
    width: 22px;
    position: absolute;
  }
  .popup_btn:hover,
  .forgot-id-pwd:hover {
    cursor: pointer;
  }

/*title*/
.popup_content>.title{position: absolute; top:0; width: 90%; background: white;}
.popup_content>.title>p{ padding: 20px; text-align: center; }

/*content*/
.popup_content .content{padding-top: 50px;}
.popup_content label{display: flex; }
.popup_content span{width: 150px; padding: 10px;}
.popup_content .content p{ width: 30%; padding: 5px;}

input,
button {
  border: none;
  outline: none;
  background: none;
}

input {
    display: block;
    width: 50%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
  }

  /*비밀번호변경*/
  .menu{
    overflow: hidden;
    height:0px;
    transition: height 1s;
  }
  
  .expand{height: 130px;}

  .menu>.sub{
    height:0;
    list-style:none;
  }
  
  .menu>.sub label{
    text-decoration:none;
  }

  /* 확인버튼 */
  .completeBtn{display: flex; justify-content: center; width: 90%;    position: absolute;
    bottom: 0; background-color: #fff;}
  .cancle-btn,.save-btn {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    background: var(--color-brown);
  }