/*popup*/
/* 뒷 배경 */
.popup_layer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
/*팝업 박스*/
.popup_box {
  position: relative;
  top: 50%;
  left: 50%;
  height: 800px;
  width: 700px;
  transform: translate(-50%, -50%);
  z-index: 1002;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
}
/*컨텐츠 영역*/
.popup_box .popup_content {
  overflow-y: scroll;
  height: 100%;
  line-height: 1.4rem;
  font-size: 16px;
}
/* content 스크롤 */
.popup_content::-webkit-scrollbar {
  width: 10px;
}
.popup_content::-webkit-scrollbar-thumb {
  background-color: var(--color-light-brown);
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid transparent;
}
.popup_content::-webkit-scrollbar-track {
  background-color: transparent;
}

/*title*/
.popup_content > .title {
  position: absolute;
  top: 0;
  width: 684px;
  background: var(--color-bright);
  
}
.popup_content > .title > p {
  padding: 20px;
  text-align: center;
  color: var(--color-bark);
}

/*content*/
.sub-title p:nth-child(1) {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
  font-weight: bold;
  padding-top: 60px;
}
.popup_content .content {
  padding-top: 40px;
}
.popup_content label {
  display: flex;
  justify-content: center;
}
.popup_content span {
  width: 130px;
  padding: 10px;
}
.popup_content label p {
  width: 48%;
  padding: px;
}
input,
button {
  border: none;
  outline: none;
  background: none;
}

input {
  display: block;
  width: 45%;
  margin-top: 5px;
  font-size: 14px;
  border-bottom: 1px solid var(--color-dark);
}




/*비밀번호변경*/
.popup_content .pwd-btn {
  display: inline-block;
  text-align: center;
  margin-left: 100px;
  font-size: 12px;
  width: 100px;
  border-radius: 3px;
  background: var(--color-light-brown);
  color: #fff;
  padding: 0;
}
.popup_content:hover .pwd-btn:hover{
  background: var(--color-brown);
}

.menu {
  overflow: hidden;
  height: 0px;
  transition: height 1s;
}

.expand {
  height: 130px;
}

.menu > .sub {
  height: 0;
  list-style: none;
}

.menu > .sub label {
  text-decoration: none;
}

/* 데이터 초기화 버튼 */
label button > img {
  width: 20px;
}
.reset-btn{
  visibility: hidden
}
/* 하단버튼 */
.completeBtn {
  display: flex;
  justify-content: center;
  width: 660px;
  position: absolute;
  bottom: 0;
  background-color: var(--color-bright);
}
.cancle-btn,
.save-btn {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: var(--color-bright);
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
  background: var(--color-light-brown);;
}

.cancle-btn:hover,.save-btn:hover{background-color: var(--color-brown);}