/*=============== VARIABLES CSS ===============*/
/* https://github.com/bedimcode/landscape-responsive-card/blob/main/assets/css/styles.css */
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --h2-font-size: 1rem;
  --small-font-size: 0.813rem;
}

/*검색  */
.notice-button {
	height: 70px;
	width: 1100px;
	margin: 0 auto;
}

.notice-button a {
	float: right;
}

#board-search .search-window {
	padding-bottom: 30px;
	border-radius: 5px 5px 0 0;
	background : var(--color-bright);
}

#board-search .search-window .search-wrap {
	position: relative;
	/*   padding-right: 124px; */
	margin: 0 auto;
	width: 80%;
	max-width: 564px;
}

#board-search .search-window .search-wrap select {
	height: 40px;
	font-size: 14px;
	padding: 7px 14px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#board-search .search-window .search-wrap input {
	height: 40px;
	width: 65%;
	font-size: 14px;
	padding: 7px 14px;
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
}

#board-search .search-window .search-wrap input:focus {
	border-color: #333;
	outline: 0;
	border-width: 1px;
}

#board-search .search-window .search-wrap .listBtn {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 108px;
	font-size: 16px;
	border-radius: 0 5px 5px 0;
	border: 0px;
	background: var(--color-light-brown);
	color: var(--color-bright);
}
/*검색내용없을때  */
.noResults{
	height: 50dvh;
    padding: 20dvh;
    text-align: center;
}

/* 목록 */
.story-button {
  height: 70px;
  width: 1070px;
  margin: 0 auto;
}
.story-button a {
float: right;
}

.header-container{
	background-color: var(--color-brown);
}
.header-container strong{
	color: var(--main-font-color) !important;
}
.adoption-list-header{
	padding-top:140px;
	background:var(--color-bright);
}
.page-subtitle{
	font-size: 25px;
    width: 60%;
    margin: 0 auto;
    transform: translate(270px,-90px);
}
article img {
  display: block;
  /* max-width: 100%;
  height: auto; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*=============== CARD ===============*/
.grid__container {
	position: relative;
  display: grid;
  place-items: center;
  background: var(--color-bright);
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
  padding-bottom: 10px;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  height: 328px;
  border-radius: 5px;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 5px;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  /* margin-bottom: 0.75rem; */
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .card__img {
    /* width: 348px; */
    width: 250px;
  }
  .card__data {
    /* width: 316px; */
    width: 230px;
    height: 100px;
    padding-inline: 2.5rem;
  }
}
