.header-container {
  position: absolute;
  min-width: 1920px;
  top: 0;
  width: 100%;
  height: 140px;
  z-index: 9999;
}
.header-inner {
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
}
.logo:hover {
  scale: 1.1;
  transition: 0.5s;
  cursor: pointer;
}
.navigation-menu {
  position: inherit;
  width: fit-content;
  height: 100%;
}
.navigation-menu > ul {
  width: 800px;
  height: 100%;
  float: right;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dropdown-content {
  position: absolute;
  /* height: 0; */
  width: 0;
  overflow: hidden;
  text-wrap: nowrap;
  transform: translateX(-20px);
}
.dropdown-content > a {
  display: block;
  padding: 4px 0 4px 0;
}
.dropdown:hover .dropdown-content {
  /* height: 500px; */
  width: 100%;
  transition: 1s;
  transform: translateX(0);
}
/* profile */
.profile{
  position: relative;
  overflow: hidden;
}
.profile:hover{
	cursor: pointer;
}

.profile-menu{
  position: absolute;
  padding: 10px 20px;
  right: 62px;
  top: 150px;
  background: white;
  width: 240px;
  min-height: 330px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.profile-menu.active{
  top: 110px;
  visibility: visible;
  opacity: 0.99;
  box-shadow: 0px 0px 10px -2px var(--color-honeydew);
  z-index: 9999;
}
.profile-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
  /*box-shadow: 0px 0px 10px -2px var(--color-inactive);*/
  z-index: 9998; 
}
.profile-menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: var(--color-brown);
  line-height: 1.5em;
}
.profile-menu h3 span{
	font-size: 14px;
	font-weight: 500;
	color: var(--color-light-brown);
}
.profile-menu ul {
	display: block;
	width: 100%;
}
.profile-menu ul li {
	display: block;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
.profile-menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}
.profile-menu ul li:hover > img {
  opacity: 1;
}
.profile-menu ul li a {
  display: inline-block;
  color: var(--color-brown);
  font-weight: 500;

}
.profile-menu ul li:hover > a {
  color: var(--color-light-brown);
  transition: 0.5s;
}
