/*popup*/
/* 뒷 배경 */
.popup_layer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
/*팝업 박스*/
.popup_box {
  position: relative;
  top: 50%;
  left: 50%;
  /* overflow: hidden; */
  height: fit-content;
  width: fit-content;
  transform: translate(-50%, -50%);
  z-index: 1002;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
}
/* .popup_content {
  height: fit-content;
  width: fit-content;
} */
/*컨텐츠 영역*/
/* .popup_box .popup_content {
  padding: 50px;
  line-height: 1.4rem;
  font-size: 14px;
  text-align: center;
} */
/* x 버튼 */
.popup_btn {
  position: absolute;
  height: 36px;
  width: 36px;
  top: 0;
  right: 0;
  z-index: 9999;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.3s;
}
.popup_btn:hover{
	opacity: 1;
	
}
.popup_btn a img {
  width: 22px;
  position: absolute;
}
.popup_btn:hover,
.forgot-id-pwd:hover {
  cursor: pointer;
}

/* 로그인 */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ededed;
}

.login-popup-input,
.login-popup-btn {
  border: none;
  outline: none;
  background: none;
}

.login-popup-input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}
.login-popup-btn {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("../images/many-dogs2.jpg");
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}
.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}
.img__text.m--in {
  transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 5px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}
.img__btn span.m--in {
  transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}

.login-popup-h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}
.login-popup-h2 img {
  width: 80px;
}

.popup-label{
	position: relative;
  display: block;
  width: 260px;
  margin: 16px auto 0;
  text-align: center;
}
.popup-label span {
  display: block;
  font-size: 12px;
  color: #cfcfcffa;
}

.popup-label::after{
  display: block;
  font-size: 10px;
  width: fit-content;
  margin: 0;
  content: "";
  display: inline-flex;
}
.popup-label.verify-label, .popup-label.shelter-name-label{
	transition: 1s;
	transform: translateY(-100%);
	opacity: 0;
}
.popup-label.hide{
	pointer-events: none;
}
.popup-label.show{
	transform: translateY(0);
	opacity: 1;
	pointer-events: initial;
}
.popup-label.verify-label::after{
  	content: "이메일로 발송 된 인증번호를 확인해주세요.";
    color: green;
}
.popup-label.required::after {
  content: "* 필수 입력 사항입니다.";
    color: red;
}

.popup-label.duplicate::after {
 
  content: "이미 사용중인 아이디입니다.";
  color: red;
}

.popup-label.available::after {

  content: "사용 가능한 아이디입니다.";
    color: green;
}
.popup-label.not-match::after{
	  content: "비밀번호가 일치하지 않습니다.";
	    color: red;
}
.popup-label.match::after{
	  content: "비밀번호가 일치합니다.";
	    color: green;
}
.popup-label.not-user::after{
	  content: "아이디 또는 비밀번호를 확인해주세요.";
	    color: red;
}
.popup-label.invalid::after{
	content: "올바르지 않은 형식입니다.";
	    color: red;
}
.popup-label.invalid-pwd::after{
	content: "영문자, 숫자 및 특수문자를 포함해 8자리 이상 입력하세요.";
	    color: red;
}
.popup-label.valid-pwd::after{
	content: "사용 가능한 비밀번호입니다.";
	    color: green;
}
.popup-label.no-acc::after{
	content: "가입된 정보가 없습니다.";
	    color: red;
}
.popup-label.wrong-code::after{
	content: "인증번호가 일치하지 않습니다.";
	    color: red;
}
.popup-label.valid-code::after{
	content: "인증이 완료 되었습니다.";
	    color: green;
}
.popup-label.find-acc-label.inform::after{
	content: "가입시 등록하신 이메일을 입력해주세요.";
	color: #000;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
.forgot-id-pwd {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit-btn,
.general-btn,
.next-btn,
.find-account-btn,
.back-to-login-btn {
  margin-top: 40px;
  margin-bottom: 20px;
  background: var(--color-brown);
}
.sub-cont-slides .next-btn, 
.sub-cont-slides .submit-btn{
	margin-top: 10px;
}

.fb-btn,
.to-login-btn,
.shelter-btn,
.prev-btn,
.login-prev-btn,
.cancel-btn {
  border: 2px solid #ccc5b8;
  color: var(--color-brown);
}
.fb-btn span {
  font-weight: bold;
  color: var(--color-brown);
}

.sign-in {
  transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

.sign-up {
  transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}
.search-btn-icon{
	width: 20px;
	position: absolute;
	top: 25px;
	right: 5px;
	cursor: pointer;
}
.link-footer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
/* 회원가입 슬라이더 */
.form-slider {
  width: 580px;
  height: 400px;
  overflow: hidden;
}
.form-slides {
  display: flex;
  transition: transform 1s;
}
.form-slide {
	position: relative;
  min-width: 580px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-slide.hide{
	display: none;
}
.form-slide.button-slide {
  transform: translateY(-40px);
}
.form-slide.final-slide .text-wrap {
  font-size: 20px;
    color: black;
    line-height: 45px;
    text-align: center;
}
.form-slide.final-slide.general-slide > .text-wrap {
    transform: translateY(-10%);
}
.form-slide.final-slide.shelter-slide > .text-wrap {
    transform: translateY(20%);
}
.form-slide.final-slide.shelter-slide > .text-wrap > .sub-text {
	transform: translateY(65px);
  	font-size: 14px;
}




