.header-container{
	background-color: var(--color-brown);
}
.header-container strong{
	color: var(--main-font-color) !important;
}

.board-read {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 180px;
  background: var(--color-white-smoke);
}

/* 카테고리 */
/*게시판*/
.category-container {
  padding: 20px 0;
}
.read-category {
  text-align: center;
  padding: 20px;
  background: var(--color-bright);
  border-radius: 5px;
}

.category-title p {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

/*메뉴*/
.category-menu div {
  margin: 15px 0;
  border-radius: 5px;
  position: relative;
}
.category-menu img {
  position: absolute;
  width: 40px;
  left: 110px;
  top: -20px;
}
.category-menu p {
  padding: 10px 70px;
  font-size: 20px;
}

.category-menu div:nth-child(1) {
  background-color: var(--color-white-smoke);
}

/* 글읽기*/
.read-container {
  padding: 20px 0;
  width: 50%;
  min-width: 50rem;
  max-width: 75rem;
}
.read-board {
  min-height: 600px;
  padding: 30px 50px;
  background: var(--color-bright);
  border-radius: 5px;
  line-height: 35px;
}

.read-top {
  width: 100%;
  padding: 20px 50px;
  font-size: 30px;
}
.read-content {
  padding: 20px;
}

/* 버튼 */
.read-button {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: var(--color-bright);
}

/* 댓글 */
.reply-board {
  padding: 30px 100px;
  background: var(--color-bright);
  border-radius: 5px;
}
.reply-write {
  width: 100%;
  padding: 10px;
  border: 0;
}
.reply-write:focus {
  outline: none;
}
.reply-board form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
}
.reply-board form label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.reply-board form label:hover {
  opacity: 1;
}
.reply-board img {
  width: 30px;
}
.reply-button {
  display: none;
}
.reply-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reply-content p {
  padding: 20px;
  width: 90%;
  /* border-bottom:1px solid var(--color-dark) ; */
}
.reply-content a {
  width: 40px;
  height: 30px;
  margin-right: 10px;
  background-color: var(--color-bright);
  border: 0;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.reply-content a:hover {
  opacity: 1;
}

.reply-profile {
  display: flex;
  align-items: center;
  background-color: var(--color-white-smoke);
  border-top: 1px solid var(--color-dark);
  height: 30px;
}
.reply-profile span {
  padding: 5px;
}
.reply-profile span:nth-child(2) {
  font-size: 12px;
}

/* 작성자정보 */
.readinfo-category {
  text-wrap: nowrap;
  padding: 20px;
  background: var(--color-bright);
  border-radius: 5px;
}
.read-info {
  display: flex;
  font-size: 14px;
}
.read-info p:nth-child(1) {
  text-align: center;
  padding: 10px;
  background: var(--color-white-smoke);
  color: var(--color-dark);
}
.read-info p:nth-child(2) {
  width: 70%;
  padding: 10px;
}
