@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
:root {
  --color-brown: #453f32;
  --color-light-brown: #82765e;
  --color-white-smoke: #f6f5f3;
  --color-olive: #2a392c;
  --color-cambridgeolive: #89a98f;
  --color-feldgrau: #a0baa3;
  --color-honeydew: #e4f2e3;
  --color-green: #83c680;
  --color-sky-blue: #a6d2fd;
  --color-blue: #94c2f9;
  --color-bright: #ffffff;
  --color-dark: #000000;
  --color-grey: #eeeeee;
  --main-font-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  min-width: 1920px;
  min-height: 1080px;
  position: relative;
  background-color: #fff;
  z-index: -9999;
}
body {
  position: relative;
  overflow-x: hidden;
  z-index: -1;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
}

.bright-btn,
.dark-btn,
.secondary-btn {
  cursor: pointer;
  width: 150px;
  height: 70px;
  border-radius: 5px;
  border: none;
}

.font-bright {
  color: var(--color-bright);
}
.font-dark {
  color: var(--color-dark) !important;
}

.header-font {
  font-size: 32px;
  padding: 8px;
}
.xxlarge-font {
  font-size: 60px;
}
.xlarge-font {
  font-size: 24px;
}
.large-font {
  font-size: 20px;
}
.medium-font {
  font-size: 16px;
}
.small-font {
  font-size: 14px;
}
.xsmall-font {
  font-size: 12px;
}

.hover-underline {
  display: inline-block;
}
.hover-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-bright);
}
.hover-underline:hover::after {
  width: 100%;
  transition: 0.5s;
}
.page-title {
  margin: 50px auto;
  font-size: 60px;
  color: #333333;
  font-weight: 400;
  width: 60%;
}

.medium-btn,
.large-btn,
.bright-btn,
.dark-btn,
.secondary-btn,
.brown-btn,
.green-btn {
  transition: background-color 0.3s;
}
.medium-btn:hover,
.large-btn:hover,
.bright-btn:hover,
.dark-btn:hover,
.secondary-btn:hover,
.brown-btn:hover,
.green-btn:hover {
  cursor: pointer;
}

/* 미디움 버튼 */
.medium-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 15px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  margin: 5px;
}

/* large 버튼 */
.large-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
  padding: 0 30px;
  border: 0;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
}

.bright-btn {
  background-color: var(--color-bright);
}
.dark-btn {
  background-color: var(--color-brown);
}

.secondary-btn {
  background-color: #999999;
    color: var(--color-bright);
}
.secondary-btn:hover {
  background-color: #5e5e5e;
}

/* 브라운 버튼 */
.brown-btn {
  background-color: var(--color-light-brown);
  color: var(--color-bright);
}
.brown-btn:hover {
  background-color: var(--color-brown);
  color: var(--color-bright);
}

/* 그린버튼 */
.green-btn {
  background-color: var(--color-cambridgeolive);
  color: var(--color-bright);
}
.green-btn:hover {
  background-color: var(--color-olive);
  color: var(--color-bright);
}
