.slide-animation {
  animation: slide 0.75s ease-out;
}
.bottom-to-top-animation {
  animation: bottom-to-top 0.75s ease-out;
}
.fade-in {
  animation: fade-in 0.5s ease-in;
}
@keyframes bottom-to-top {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    transform: rotate(0);
  }
}
@keyframes slide {
  from {
    /* transform: translate(-50%, -35%); */
    transform: translateY(35%);
    opacity: 0.6;
  }
  to {
    /* transform: translate(-50%, -50%); */
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
