/*popup*/
/* 뒷 배경 */
.update-popup-layer {
	color: #000000 !important;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
/*팝업 박스*/
.update-popupbox {
  position: relative;
  top: 50%;
  left: 50%;
  height: 830px;
  width: 700px;
  transition: height 1s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: 1002;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
}
.reset-btn{
	width: 30px;
	height: 30px;
}
.update-popupbox.expand{
	height: 950px;
}
/*컨텐츠 영역*/
.update-popupbox .update-popup-content {
/*   overflow-y: scroll; */
  height: 100%;
  line-height: 1.4rem;
  font-size: 16px;
}
/* content 스크롤 */
/* .update-popup-content::-webkit-scrollbar {
  width: 10px;
}
.update-popup-content::-webkit-scrollbar-thumb {
  background-color: var(--color-light-brown);
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid transparent;
}
.update-popup-content::-webkit-scrollbar-track {
  background-color: transparent;
} */

/*title*/
.update-popup-content > .update-title {
  position: relative;
  top: 0;
  width: 100%;
  background: var(--color-bright);
  
}
.update-popup-content > .update-title > p {
  padding: 32px;
  text-align: center;
  color: var(--color-bark);
}

/*content*/
.sub-title p:nth-child(1) {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
  font-weight: bold;
  padding-top: 20px;
}
/* .update-popup-content .update-content {
  padding-top: 40px;
} */
.update-popup-content label {
  display: flex;
  justify-content: start;
  margin: 12px 0;
      transform: translateX(-40%);
    left: 50%;
    width: 95%;
    position: relative;
}
.update-popup-content span {
  width: 130px;
  padding: 10px;
}
.update-popup-content label p {
  width: 48%;
  padding: 10px 0;
}
.update-popup-content label .input-text,.update-popup-content label button {
  border: none;
  outline: none;
  background: none;
}

.update-popup-content label .input-text {
	height: 30px;
  display: block;
  width: 45%;
  margin-top: 5px;
  font-size: 14px;
  border-bottom: 1px solid var(--color-dark);
}

/*비밀번호변경*/
.update-popup-content .pwd-btn, .update-popup-content .verify-btn {
	width: 100px;
    font-size: 14px;
    position: absolute;
    right: 188px;
}
.update-popup-content:hover .pwd-btn:hover{
  background: var(--color-brown);
}

.update-popup-content .pwd-mainmenu {
  overflow: hidden;
  height: 0px;
  transition: height 1s ease-in-out;
}

.update-popup-content .expand {
	overflowY: initial;
  height: 190px;
}

.update-popup-content .pwd-mainmenu > .pwd-sub label {
  text-decoration: none;
}

/* 데이터 초기화 버튼 */
.update-popup-content label button > img {
	    transform: translate(-20px, 2px);
  width: 20px;
  cursor: pointer;
}
.update-popup-content .reset-btn{
  visibility: hidden;
}
/* 하단버튼 */
.update-completeBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 40px;
  background-color: var(--color-bright);
}
.update-cancel-btn,
.update-save-btn{
	width: 120px;
	height: 52px;
}
/* .update-cancel-btn,
.update-save-btn {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: var(--color-bright);
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
  background: var(--color-light-brown);
  border: 0px;
}
 */
.update-cancel-btn:hover,.update-save-btn:hover{
  background-color: var(--color-brown);
  }
.update-content label::after{
  position: absolute;
  transform: translate(128px, 36px);
}
.update-content label::after{
	 	font-size: 12px;
	}
.update-content label.required::after {
	  content: "* 필수 입력 사항입니다.";
	    color: red;
	}
.update-content label.duplicate-email::after {
	  content: "이미 사용중인 이메일입니다.";
	  color: red;
	}
.update-content label.available-email::after {
	
	  content: "사용 가능한 아이디입니다.";
	    color: green;
	}
.update-content label.wrong-pwd::after{
		  content: "비밀번호를 확인해주세요.";
		    color: red;
	}
.update-content label.not-match::after{
		  content: "비밀번호가 일치하지 않습니다.";
		    color: red;
	}
.update-content label.match::after{
		  content: "비밀번호가 일치합니다.";
		    color: green;
	}
.update-content label.invalid-pwd::after{
		content: "영문자, 숫자 및 특수문자를 포함해 8자리 이상 입력하세요.";
		    color: red;
	}
.update-content label.valid-pwd::after{
		content: "사용 가능한 비밀번호입니다.";
		    color: green;
	}
.update-content label.wrong-code::after{
		content: "인증번호가 일치하지 않습니다.";
		    color: red;
	}
.update-content label.valid-code::after{
		content: "인증이 완료 되었습니다.";
		    color: green;
	}
.update-content label.invalid::after{
		content: "올바르지 않은 형식입니다.";
		    color: red;
	}
.update-content label.verify-label{
		transition: 1s;
		transform: translate(-40%, -100%);
		opacity: 0;
		pointer-events: none;
	}
.update-content label.verify-label.show{
		transform: translateY(-40%, 0);
		opacity: 1;
		pointer-events: initial;
	}

.update-content a.send-code{
	color: var(--color-brown);
    align-self: center;
    height: fit-content;
    cursor: pointer;
    font-size: 12px;
	}
.update-content a.send-code:hover{
	text-decoration: underline var(--color-brown);
}
#update-addr{
	pointer-events: none;
	user-select: none;
}